<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.edu.itsuruapan.admnistracionderedes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdmnistracionDeRedes">
        <activity
            android:name=".menu"
            android:exported="false" />
        <activity
            android:name=".modificar_Inventario"
            android:exported="false" />
        <activity
            android:name=".agregar_Inventario"
            android:exported="false" />
        <activity
            android:name=".registro"
            android:exported="false" />
        <activity
            android:name=".planesPreCor2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fallas"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".localizacion"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".planesPreCor"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AdmnistracionDeRedes.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>